
body {
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #f8f9fa;
  padding-top: 48px;
  overflow-y: auto;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.sidebar .nav-link:hover, 
.sidebar .nav-link:focus {
  background-color: #e9ecef;
  color: #007bff;
}

.sidebar .nav-link.active {
  background-color: #e9ecef;
  color: #007bff;
}

.sidebar-heading {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #e9ecef;
  margin-top: 10px;
}



/*
   * Content
   */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
   * Navbar
   */
.nav-item {
  margin-bottom: 20px; /* Adjust this value to increase or decrease space */
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(176, 29, 174, 0.25);
  box-shadow: inset -1px 0 0 rgba(202, 27, 27, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
